{{ define "main" }}

{{ partial "hero-area.html" . }}

{{- partial "header.html" . -}}

{{ partial "gallery.html" . }}

{{ partial "about.html" . }}

{{ partial "blog.html" . }}

{{ partial "hotdog-menu.html" . }}

{{ partial "burger-menu.html" . }}

{{ partial "more-menu.html" . }}

{{ partial "sandwiches-menu.html" . }}

{{ partial "fryer-menu.html" . }}

{{ partial "sides-menu.html" . }}

{{ partial "kids-menu.html" . }}

{{ partial "subscription.html" . }}

{{ partial "contact.html" . }}

{{ end }}